.loader-page {
    margin: 0 auto;
    text-align: center;
}

.loader-page .page-loading {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.loader-page .sektak-loader-image {
    position: relative;
    width: 250px;
    min-height: 170px ;
    display: inline-block;
    margin-top: 10%;
}

@media screen and (max-width: 850px ) {
    .loader-page .sektak-loader-image {
        margin-top: 30%;
    }
}

.loader-page .sektak-loader-name {
    font-family: "Harlow Solid";
    color: #071A36
}

.loader-page .sektak-loader-name span {
    color: #2FA1DB;
}

.loader-page .sektak-loader-msg {
    color: #727272;
    width: 60%;
    margin: 0 auto
}
